@model Movie_Application.ViewModel.MovieFormViewModel
@{
    ViewData["Title"] = "MovieForm";
}

<h1>MovieForm</h1>

@using (Html.BeginForm("Save", "Movies"))
{
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name)
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Stock)
        @Html.TextBoxFor(m => m.Movie.Stock)
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0: dd-mm-yyyy}")
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId,
                new SelectList(Model.GenreList, "Id", "Name"), "Select a Genre")
    </div>

    @Html.HiddenFor(c => c.Movie.Id);

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}

