@model Movie_Application.ViewModel.CustomerFormViewModel
@{
    ViewData["Title"] = "Customer Form";
}

<h1>Customer Form</h1>

@using (Html.BeginForm("Save", "Customers"))
{
    <br />
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.DateOfBirth)
        @Html.TextBoxFor(c => c.Customer.DateOfBirth, "{0: dd-mm-yyyy}")
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, 
            new SelectList(Model.MembershipTypes, "Id", "Name"), "Select a Type")
    </div>
    <br />
    <div class="form-group">
        @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsletter) Subscribe For News Letter
    </div>
    <br />
    @Html.HiddenFor(c => c.Customer.Id);
    <button type="submit" class="btn btn-primary">Submit</button>
}

